__pycache__
.idea
.coverage
.idea
.tox
.coverage
onedatafsspec.egg-info/
onedatarestfsspec.egg-info/
test.py
onedatafsspec-tests-results.xml
onedatarestfsspec-tests-results.xml
dist/
build/
onedatarestfs.egg-info/
tests/README_integration.md
