[submodule "bamboos"]
	path = bamboos
	url = ../bamboos
[submodule "one-env"]
	path = one-env
	url = ../one-env
[submodule "onedatafilerestclient"]
	path = onedatafilerestclient
	url = ../onedatafilerestclient
